/*RESET*/


/* https://meyerweb.com/eric/tools/css/reset/
	   v2.0 | 20110126
	   License: none (public domain)
	*/

/*GENERAL*/

.wrapperAll {
  width: 100%;
  overflow: hidden;
  font-size: .850em;
  padding: 4em 0;
  /* font-family: Verdana; */
}

.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 2em auto;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
}

.wrapper:after {
  content: ' ';
  display: block;
  clear: both;
}


/*TITLE*/
.buttonLine {
  float: right;
  color: #ff8f00;
  padding: .5em 1.2em;
  border: solid 1px #ff8f00;
  border-radius: 20px;
}

.buttonLine:hover {
  background: #ff8f00;
  color: #f7f7f7;
  transition: all ease-in-out .3s;
}


/*SLIDER - COMPLETE*/

.sliderComplete {
  position: relative;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}


/*Slider*/

.slider {
  width: 300%;
  transition: all .5s;
}

.slider li {
  display: inline-block;
  width: 200px;
  margin: 0 1%;
  padding-bottom: 2em;
}

.slider li:first-child {
  margin-left: 0;
}


/*Content*/

.slider li > * {
  max-width: 100%;
}


/*Cover*/

.slider li .cover {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 1em;
}

.slider li .cover img {
  display: block;
  width: 100%;
}

.slider li .cover:before {
  display: block;
  content: ' ';
  background: rgba(247, 247, 247, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider li .cover:hover:before {
  background: rgba(247, 247, 247, .5);
  transition: all .2s;
}


/*Informations*/

.slider li p {
  line-height: 1.3;
  color: #38373a;
}

.slider li p a {
  color: #ff8f00;
}


/*Buttons*/


/*
				The transition, added in CSS, will do the 'fadeIn' and the 'fadeOut' we can do in jQuery.
				*/

.sliderComplete button {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1em 2em;
  border: none;
  background: #f0f0f0;
  transition: all ease-in-out .5s;
}

.sliderComplete button[title="before"] {
  left: 0;
}

.sliderComplete button[title="after"] {
  right: 0;
}

.sliderComplete button.close {
  opacity: 0;
}

.sliderComplete button.open {
  opacity: .8;
}


/*Onclick*/


/*The transition will allow the smooth animation of the slider.*/

.turn {
  margin-left: -75%;
  transition: all .5s;
}

@media screen and (max-width:800px) {
  /*
	This prevents a potential overflow on the height and overflow allows the width for responsive. The scroll bar is not visible in any way on mobile.
	*/
  .sliderComplete .wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .slider {
    width: 400%;
  }
  .slider li {
    width: 14%;
  }
  .slider li .cover {
    width: 100%;
  }
}

@media screen and (orientation:portrait) {
  .sliderComplete .wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .slider {
    width: 600%;
  }
  .slider li {
    width: 14%;
  }
  .slider li .cover {
    width: 100%;
  }
  .sliderComplete button,
  .sliderComplete button.close,
  .sliderComplete button.open {
    display: none;
    opacity: 0;
  }
}

.range-slider {
  *zoom: 1;
  margin: 20px 0;
  padding-top: 3.5em;
  position: relative;
  text-align: center;
}
.range-slider:before, .range-slider:after {
  content: " ";
  display: table;
}
.range-slider:after {
  clear: both;
}
@media (min-width: 640px) {
  .range-slider {
    padding-top: 3.5em;
  }
}
@media (min-width: 1024px) {
  .range-slider {
    padding-top: 3.5em;
  }
}
.range-slider .track {
  bottom: 15px;
  height: 6px;
  left: 0;
  margin-bottom: -3px;
  position: absolute;
  width: 0;
  z-index: 50;
}
@media (min-width: 640px) {
  .range-slider .track {
    bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .range-slider .track {
    bottom: 15px;
  }
}
.range-slider .track--full {
  background: #aaa;
  width: 100%;
}
.range-slider .track--included {
  background: #f00;
  border-radius: 3px;
}
.range-slider .slider-thumb {
  background: #555;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  display: block\9;
  height: 30px;
  left: 0;
  position: absolute;
  width: 30px;
  z-index: 101;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .range-slider .slider-thumb {
    display: block;
  }
}
@media (min-width: 640px) {
  .range-slider .slider-thumb {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider .slider-thumb {
    height: 30px;
    width: 30px;
  }
}
.range-slider [type=range] {
  -webkit-appearance: none;
  background: none;
  height: 30px;
  margin: 0;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: 75;
}
@media (min-width: 640px) {
  .range-slider [type=range] {
    height: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range] {
    height: 30px;
  }
}
.range-slider [type=range]:focus {
  outline: none;
}
.range-slider [type=range]::-moz-focus-outer {
  border: 0;
}
.range-slider [type=range]:first-of-type {
  float: left;
  margin-bottom: -30px;
}
@media (min-width: 640px) {
  .range-slider [type=range]:first-of-type {
    margin-bottom: -30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]:first-of-type {
    margin-bottom: -30px;
  }
}
.range-slider [type=range]:last-of-type {
  float: right;
  margin-bottom: 0;
}
.range-slider [type=range]::-webkit-slider-runnable-track {
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  color: transparent;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]:focus::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]:focus::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  outline: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
@media (min-width: 640px) {
  .range-slider [type=range]::-webkit-slider-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]::-webkit-slider-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
.range-slider [type=range]::-ms-thumb {
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
@media (min-width: 640px) {
  .range-slider [type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
  }
}
.range-slider [type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
@media (min-width: 640px) {
  .range-slider [type=range]::-moz-range-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]::-moz-range-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
.range-slider .output,
.range-slider output {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #aaa;
  display: inline-block;
  height: 2.5em;
  left: 50%;
  line-height: 2.5em;
  padding: 0 0.75em;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate(-50%, 0);
}
